
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
        header {
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: sticky;
            top: 0;
            z-index: 1000;
            width: 100%;
        }

        .nav-container {
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 50px;
        }

        .main-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
        }

        .logo {
            font-size: 28px;
            font-weight: 700;
            color: #D6277D;
            text-decoration: none;
        }

        .nav-links {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .nav-links a {
            text-decoration: none;
            color: #333;
            font-size: 17px;
            transition: 0.2s ease;
        }

        .nav-links a:hover {
            color: #D6277D;
        }

        .nav-login-btn {
            background-color: #D6277D;
            color: white;
            padding: 10px 20px;
            border-radius: 6px;
            font-weight: 500;
            transition: 0.2s ease;
        }

        .nav-login-btn:hover {
            background-color: #ff0c91;
        }



main {
padding: 30px 0;
}

footer {
            background-color: #e9ecef;
            text-align: center;
            padding: 20px;
            margin-top: 40px;
            color: #555;
        }



.detail-section {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.stat-card {
    flex: 1; 
    text-align: center;
    background-color: #FFEFF5; 
    padding: 15px;
    border-radius: 8px;
}

.stat-card p:first-child { 
    font-size: 24px; font-weight: bold; 
    color: #D6277D; 
    margin: 0;
}




.accordion-section { max-width: 800px; margin: 40px auto; }

.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-header {
    background-color: #FFEFF5; 
    color: #D6277D; 
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header:hover {
    background-color: #ffd8ec;
}


.accordion-content {
    display: none; 
    padding: 15px;
    background-color: white;
    border-top: 1px solid #eee;
}





@media (max-width: 768px) {
    
    .form-grid {
        grid-template-columns: 1fr;
    }
}